*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  position: relative;
  background: #d2e9ef;
  height: 100vh;
}

h1 {
  font-family: 'Lora', serif;
  margin: 10px 0 50px 0;
  text-align: center;
}

h2 {
    color: rgb(13, 176, 220);
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
    
    /* moje */
    display: flex;
    flex-direction: row;
}

.pricing {
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  margin: 10px;
    
    /* moje */
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* moje */
.larger {
    flex: 2;
}

ul li {
  line-height: 150%;
}

button {
    padding: 10px 40px;
    border: 2px solid;
    color: #fff;
    background: rgb(13, 176, 220);
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: auto;
}

p {
  margin-bottom: 50px;
}
